<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-file-move"
        version="1.1.0">
    <name>FileMovePlugin</name>
    <js-module src="www/FileMovePlugin.js" name="FileMovePlugin">
        <clobbers target="FileMovePlugin" />
    </js-module>
    <platform name="ios">
        <source-file src="src/ios/FileMovePlugin.swift" />
    </platform>
</plugin>
